services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/wilayah_aceh
    depends_on:
      - db
    restart: always

#   db:
#     image: postgis/postgis:15-3.3
#     ports:
#       - "5432:5432"
#     environment:
#       - POSTGRES_USER=postgres
#       - POSTGRES_PASSWORD=postgres
#       - POSTGRES_DB=wilayah_aceh
#     volumes:
#       - postgres_data:/var/lib/postgresql/data
#     restart: always

# volumes:
#   postgres_data:
